@media (max-width: 1030px) {
	#app {
		width: 100% !important;
		height: 97% !important;
	}
	#load {
		width: 700px;
		height: 500px;
		left: 150px;
		margin-left: 0px;
		top: 70px;
		background-size: 100% 100%;
	}
	#load img {
		width: 100px;
		height: 100px;
		margin: 0px;
		left: 300px;
		top: 200px;
	}
	header {
		width: 1024px;
	}
	#bg-colored-image {
		width: 1080px !important;
		height: 672px !important;
		left: -50px;
		background-size: 100% 100% !important;
	}
	#bg-svg object, #bg-svg, #bg-svg svg {
		width: 1080px !important; 
		height: 672px !important;
	}
	header h1 {
		height: 40px;
		width: 450px;
		font-size: 17px;
		line-height: 40px;
		left: 280px;
		top: 40px;
		background-size: 100% 100%;
	}
	#content .time {
		height: 120px;
		width: 350px;
		background-size: 100% 100%;
	}
	#content .time b {
		font-size: 18px;
		padding: 5px 0 0 250px;
	}
	#content .time p {
		font-size: 10px;
		padding-left: 250px;
	}
	#content .nav {
		width: 880px;
		height: 40px;
		left: 55px;
		background-size: 100% 100%;
	}
	#content .nav a {
		width: 70px;
		height: 30px;
		font-size: 13px;
		margin: 15px 20px 0 0px;
	}
	#content .legend {
		bottom: 50px;
		left: 115px;
	}
	#content .legend p {
		font-size: 15px;
		min-height: 15px;
		padding: 3px 50px 3px 90px;
		width: 50px;
		line-height: 30px;
		background-size: 100% 100% !important;
	}
	#content .show {
		background-size: 70px 670px;
		height: 400px;
		width: 30px;
		top: 110px;
		background-size: 100% 100%;
	}
	#content .data {
		background-size: 100% 100%;
		height: 400px;
		width: 300px;
		top: 100px;
	}
	#map-params h2, #events-params h2, #regions-params h2, #regions-selector h2, #params-data h2, #graph-regions-selector h2, #graph-selector h2, #reports-disc-selector h2, #reports-params-selector h2 {
		right: 20px !important;
		top: 0px;
		font-size: 15px;
	}
	#content .data .hidden {
		height: 37px;
		width: 15px;
		background-size: 100% 100%;
		left: 23px !important;
		top: 246px !important;
	}
	#content .data h3 {
		font-size: 12px;
		padding-right: 15px;
		height: 25px;
		margin: 18px 0 0px 65px !important;
	}
	#param-info {
	height: 20px;
	padding-left: 70px;
	font-size: 12px;
	}
	#parametrs-widget.data #param-info {
		top: 52px !important;
	}
	#content .data .search {
		width: 130px;
		height: 20px;
		padding-left: 65px;
		font-size: 15px;
		margin-bottom: 0px;
		margin-top: 30px !important;
	}
	#map-params .sbHolder {
		top: 27px !important;
		right: -15px;
	}
	.sbToggle {
		height: 15px;
		right: 25px;
		top: 7px;
		width: 15px;
	}
	.sbSelector:link, .sbSelector:visited, .sbSelector:hover {
		font-size: 14px;
	}
	.sbOptions {
		left: -15px;
	}
	#bg-image, #bg-regions-image, #bg-events, #bg-event-image {
		width: 1080px;
		height: 672px;
		background-size: 100% 100%;
		left: -50px;
	}
	#miniMap {
		height: 120px;
		width: 200px;
		left: -10px;
		top: 100px;
		background-size: 100% 100%;
	}
	#miniMap a {
		background-size: 100% 100%;
		font-size: 12px;
		height: 30px;
		width: 180px;
		left: 15px;
		top: 5px;
		padding-top: 80px;
	}
	#content .data .jspContainer {
		height: 280px!important;
	}
	#content .data ul.first {
		margin-left: 40px;
		margin-top: 5px;
	}
	#content .data .scroll li {
		font-size: 12px;
	}
	#content .data .scroll .group {
		padding-bottom: 5px;
		padding-top: 5px;
	}
	#content .data ul span {
		width: 150px;
	}
	#content .data ul i {
		width: 50px;
	}
	#regions-left-camera {
		left: 50px;
		bottom: 20px;
		width: 80px;
		height: 40px;
		background-size: 100% 100% !important;
	}
	#regions-right-camera {
		position: absolute;
		right: 50px;
		bottom: 20px;
		width: 80px;
		height: 40px;
		background-size: 100% 100% !important;
	}
	#regions-parametrs-widget h3 {
		height: 35px !important;
	}
	#regions-parametrs-widget.data .hidden, #events-parametrs-widget.data .hidden {
		top: 215px !important;
	}
	#regions-parametrs-widget.data .search {
		margin-top: 40px !important;
	}
	#regions-param-info {
		margin-top: 60px;
		padding-left: 70px;
		font-size: 12px;
	}
	#content .data.region .search {
		margin: 40px 0 10px 15px !important;
		width: 170px !important;
	}
	#reports-disc-data .data.region .search {
		margin: 2px 0 10px 20px !important;
	}
	#region-data-place.scroll.jspScrollable {
		width: 235px !important;
		max-height: 300px !important;
	}
	#regions-params .sbHolder {
		top: 37px;
		right: -15px;
	}
	#regions-params .data .jspContainer, #params-data .jspContainer {
		height: 250px!important;
	}
	#regions-selector .data.region, #graph-regions-selector .data.region, #reports-disc-data .data.region {
		width: 250px;
		left: -25px;
	}
	#content #region-data .jspPane, #content #graph-region-data .jspPane, #params-data .jspPane {
		padding-left: 35px !important;
	}
	#regions-selector .data.region ul, #graph-regions-selector .data.region ul {
		width: 200px;
	}
	#content .data.region .scroll li {
		width: 200px!important;
	}
	#content .data.region section ul span {
		width: 170px;
	}
	#content .data.region section li ul li span {
		width: 160px!important;
	}
	#content .data.region .scroll li ul li {
		width: 190px!important;
	}
	#content .data.f section ul a, #content .data.region section ul a, #content .data.g section ul a, .check {
		height: 22px;
		width: 30px;
		top: 5px;
		background-size: 100% 100% !important;
	}
	#content .data.f, #content .data.g {
		background-size: 100% 100%;
		height: 400px;
		width: 235px;
		top: 120px;
	}
	#content .data.f .search, #content .data.g .search {
		width: 120px;
		margin-left: -30px;
		margin-top: -5px !important
	}
	#params-data .sbHolder, #reports-params-data .sbHolder {
		top: -60px !important;
		right: -20px;
	}
	#params-data-place.scroll {
		width: 235px;
		position: relative;
		top: -70px;
	}
	#params-data .jspPane, #graph-selector .jspPane {
		padding: 0px 0px 0px 15px !important;
		width: 210px;
	}
	#panels #content .data.f .jspContainer, #panels #content .data.g .jspContainer {
		height: 310px!important;
	}
	#content .data.f ul.first, #content .data.g ul.first {
		padding-left: 0px !important;
		width: 210px;
	}
	#content .data.f .scroll li, #content .data.g.scroll li {
		width: 210px!important;
	}
	#content .data.f section ul span, #content .data.g section ul span {
		width: 180px!important;
	}
	#content .data.f .scroll li ul li, #content .data.g .scroll li ul li {
		width: 200px!important;
	}
	#content .data.f section li ul li span, #content .data.g section li ul li span {
		width: 170px!important;
	}
	#content .table, #content #graph-content {
		background-size: 100% 100%;
		height: 530px;
		width: 550px;
		left: 220px;
		top: 80px;
	}
	#table-format, #reports-panel {
		height: 480px;
		margin: 20px 10px 20px 15px;
	}
	#content .table table {
		width: 500px;
		height: 480px;
	}
	#content .jspVerticalBar {
	display: none;
	}
	#table-format th, #reports-panel th {
		font-size: 12px;
		padding: 3px;
	}
	#content .table table td {
		height: 15px;
		font-size: 12px;
		padding: 3px;
	}
	#graph-panel {
		height: 430px;
		margin: 25px 20px 10px 20px;
	}
	.flot-text {
		font-size: 10px !important;
	}
	#graph-datas {
		margin-left: 20px;
	}
	#graph-datas label {
		font-size: 12px;
		line-height: 30px;
		padding-left: 5px;
		padding-right: 5px;
	}
	.navss.left {
		border-width: 15px 10px 15px 0px;
	}
	.navss.right {
		border-width: 15px 0px 15px 10px;
	}
	.year {
		font-size: 14px;
		padding: 2px 5px;
	}
	.fl.check {
		top: 3px;
		margin-left: 20px;
	}
	.buttoms {
		margin-right: 35px;
	}
	.buttoms li {
		font-size: 14px;
	}
	#graph-panel .legend {
		height: 430px !important;
	}
	#events-legend-widget.legend p {
		font-size: 13px;
		padding: 3px 0px 3px 30px;
	}
	#events-legend-widget.legend p.big {
		width: 220px;
	}
	#events-list-table {
		height: 330px !important;
		margin-left: 40px !important;
		margin-top: 35px;
	}
	#events-params .inner_table {
		margin-right: 10px;
	}
	#content #events-list-table .jspContainer {
		height: 330px !important;
	}
	#events-list-table * {
		font-size: 8px;
	}
	#events-list-table th {
		height: 20px;
		line-height: 20px;
	}
	#events-list-table tr {
		height: 30px;
	}
	#events-list-table td {
		padding: 3px;
		height: 30px;
	}
	#content #event-content {
		background-size: 100% 100%;
		height: 515px;
		width: 700px;
		left: 15px;
		top: 100px;
	}
	#event-content .inner {
		padding: 10px;
		padding-top: 70px !important;
	}
	#event-content .close {
		top: 20px;
		right: 20px;
	}
	#event-content .inner {
		height: 410px !important;
		overflow: hidden;
	}
	#event-content .inner .cont_event #svg_mm {
		width: 100px;
		height: 100px;
	}
	#event-content .inner .cont_event #svg_mm svg {
		width: 100px;
		height: 100px;
	}
	#event-content .inner .cont_event table {
		width: 550px;
	}
	#event-content .inner .cont_event table.full {
		width: 550px;
	}
	#event-content .inner .info {
		font-size: 12px;
		padding: 20px 20px 0px 20px;
	}
	#event-content .inner .cont_event .desc {
		width: 640px;
		padding: 20px 20px 0px 20px;
		font-size: 12px;
	}
	#reports-disc-selector {
		left: -20px !important;
	}
	#reports-disc-selector .data ul.first {
		margin-left: 30px !important;
	}
	#reports-disc-selector .data.region {
		width: 270px !important;
	}
	#reports-disc-selector .data.region .search {
		margin: 2px 0 10px 20px !important;
		width: 180px !important;
	}
	#reports-params-selector .jspPane {
		padding: 0px 0px 0px 20px !important;
		width: 200px !important;
	}
	#reports-params-selector .data.f .search {
		margin-bottom: -5px !important;
	}
	#panels #content #reports-params-selector .data.f .jspContainer {
		height: 280px!important;
	}
	#reports-params-selector .sbHolder {
		top: -20px !important;
	}
	#content #reports-content {
		position: absolute;
		background-size: 100% 100%;
		height: 500px;
		width: 520px;
		left: 250px;
		top: 100px;
	}
	#reports-panel {
		height: 450px !important;
		width: 480px !important;
	}
	#reports-panel table {
		width: 480px !important;
		height: 450px !important;
		padding-right: 5px !important;
	}	
	#reports-panel table td {
		font-size: 10px !important;
	}		
	#reports-panel .jspContainer {
		height: 450px !important;
		width: 480px !important;
	}
	#report-pdf {
		height: 670px;
		margin: 20px 15px 20px 20px;
	}
	#report-pdf h2, #reports-panel h2, #reports-data h2 {
		font-size: 12px;
	}
	#events-legend {
		left: 180px;
		top: 80px;
	}
	#events-legend p {
		background-size: 100% 100% !important;
		width: 50px;
		height: 50px;
		font-size: 15px;
		line-height: 55px;
	}
	.legendLabel {
		font-size: 12px;
	}
	#content .data.g .search {
		margin: 0 0 0px -30px;
	}
}